<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/login.css" rel="stylesheet">

    <!-- Vue js -->
    <script src="https://unpkg.com/vue"></script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>

</head>

<body>
    <div id="app">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="./img/todo3.png" alt="Logo Todo" height="50px" width="50px">
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"> SignIn</span></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">
            <div id="loginbox" style="margin-top:140px;margin-left: 25%;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" class="form-horizontal" role="form">

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" v-model="username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" v-model="password" type="password" class="form-control" name="password" placeholder="password">
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                    <a id="btn-login" href="#" v-on:click="onLoginLocal" class="btn btn-success">SignIn  </a>
                                    <a id="btn-fblogin" href="http://localhost:3000/login/facebook" class="btn btn-primary">Sign In with Facebook</a>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                        Don't have an account!
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- loginbox -->

            <div id="signupbox" style="display:none; margin-top:140px;margin-left: 25%;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign Up</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">

                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>

                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Username</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="usernameR" class="form-control" name="username" placeholder="Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" v-model="passwordR" class="form-control" name="passwd" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="emailR" class="form-control" name="email" placeholder="Email Address">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" v-on:click="onRegister" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Sign Up</button>
                                    <span style="margin-left:8px;">or</span>
                                </div>
                            </div>

                            <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   <a href="http://localhost:3000/login/facebook">Sign Up with Facebook</a></button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- signup box -->
        </div>
    </div>

    <!-- vue js -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                username: '',
                password: '',
                usernameR: '',
                passwordR: '',
                emailR: ''
            },
            methods: {
                onLoginLocal() {
                    // alert('hello')
                    let self = this
                    axios.post('http://localhost:3000/api/signin', {
                            username: self.username,
                            password: self.password
                        })
                        .then(response => {
                            console.log(response);
                            if (response.data.hasOwnProperty('err')) {
                                self.message = response.data.err.errmsg
                                alert(`Login is error, message: ${self.message}`)
                            } else {
                                self.message = response.data.message

                                localStorage.setItem('token', response.data.token)
                                window.location.href = 'index.html'
                            }
                        })
                        .catch(err => {
                            alert('Username Password Invalid')
                            self.username = ''
                            self.password = ''
                            window.location.href = 'login.html'
                        })
                },
                onRegister: function() {
                    let self = this
                    axios.post('http://localhost:3000/api/signup', {
                            username: self.usernameR,
                            password: self.passwordR,
                            email: self.emailR
                        })
                        .then(response => {
                            if (response.data.hasOwnProperty('err')) {
                              self.message = response.data.err.errmsg
                                alert(`Login is error, message: ${self.message}`)
                                console.log(response.data);
                                console.log(err);
                            } else {
                                alert('Register success!')
                                self.message = response.data.message
                                window.location.href = 'login.html'

                                console.log(response);
                            }
                        })
                        .catch(err => {
                            alert('error')
                        })
                }
            }
        })
    </script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>